<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Carteira de Vacinação Digital PET</title>
</head>

<body>

  <h1>Bem-vindo à Carteira de Vacinação Digital para PETs</h1>

  <p>Gerencie facilmente as vacinas do seu Pet.</p>

  <a href="{% url 'login' %}">Login</a>
  <br><br>
  <a href="{% url 'cadastro' %}">Cadastrar-se</a>
  <br><br>
  <a href="{% url 'cadastro_pet' %}">Cadastrar Pet</a>
  <br><br>
  <a href="{% url 'cadastro_vacina' %}">Cadastrar Vacina</a>
  <br><br>
  <a href="{% url 'cadastro_veterinario' %}">Cadastrar Veterinário</a>
  <br><br>
  <a href="{% url 'logout' %}">Sair</a>
</body>

</html>
